

movable-area {
    pointer-events: none;
    position: fixed;
    right: 0px;
    z-index: 1000;
    width: 65px;
    overflow: hidden;
}


movable-view {
    position: relative;
    pointer-events: auto;
    width: 45px;
    padding: 10px; // padding 是为了增加阴影
    box-sizing: content-box;
    text-align: center;
}

 .btns-bg {
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
    border-radius: 22px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0rpx 0rpx 20rpx rgba(0, 0, 0, 0.07);
}