.warper {
    width: 290px;
    height: 334px;
    background: url('https://tweapp.top1buyer.com/s-card-rules.png?v=3') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
     position: relative;
    margin: 53px 0 100px 0;
    .close {
        position: absolute;
        right: 20rpx;
        top: -50px;
        width: 30px;
        height: 51px;
    }
}

 
.content {
    margin-top: 85px;
    padding-left: 5px;
    width: 212px;
    height: 198px;
    color:#411F16;
    font-size:11px;
    text-align: left;
    view{
      line-height: 16px;
      margin-top:8px; 
    }
}
 