.count-box{
    width: 100%; 
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    .viewport{
      width: 100%;
      overflow: hidden;
      .column-wrap{
        width: 100%;
        .item{
          width: 100%;
          text-align: center;
          font-size: 40rpx;
          font-weight: bold;
        }
      }
    }
  }

 
