.warper {
    width: 275px;
    height: 351px;
    background: url('https://tweapp.top1buyer.com/s-award-record-content@2x.png') no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin: 53px 0 100px 0;
    .top-bg {
        position: absolute;
        top: 0;
        width: 275px;
        height: 55px;
        background: url('https://tweapp.top1buyer.com/s-award-record-head@2x.png') no-repeat;
        background-size: cover;
    }
    .close {
        position: absolute;
        right: 20rpx;
        top: -50px;
        width: 30px;
        height: 51px;
    }
}

.record-scroll {
    margin-top: 69px;
    height: 265px;
    .record-item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 259px;
        height: 53px;
        .left-info {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            color: #333333;
            flex: 1;
            .title {
                color: #C81313;
                width: 66px;
                font-size: 12px;
                .rmb {
                    font-size: 8px;
                }
                .amount {
                    font-size: 16px;
                }
            }
            .prize-name {
                padding: 0 10px;
                text-align: left;
                flex: 1;
            }
        }
        .right-btn {
            border-radius: 5px;
            width: 53px;
            height: 21px;
            line-height: 21px;
            background: #C81313;
            color: #FFFFFF;
            font-size: 12px;
            margin-right: 13px;
        }
        &.gb1 {
            width: 259px;
            height: 53px;
            background: url('https://tweapp.top1buyer.com/s-record-coupon.png') no-repeat;
            background-size: cover;
        }
        &.gb2 {
            width: 259px;
            height: 53px;
            background: url('https://tweapp.top1buyer.com/s-record-gold.png') no-repeat;
            background-size: cover;
        }
    }
}

// .content {
//     margin-top: 85px;
//     padding-left: 5px;
//     width: 212px;
//     height: 198px;
//     color: #411F16;
//     font-size: 11px;
//     text-align: left;
//     view {
//         line-height: 16px;
//         margin-top: 8px;
//     }
// }